.App {
  text-align: center;
}

.menu{
  width: 80%;
  position: fixed;
  height: 100vh;
  left: -100%;
  background-color: yellow;
  text-align: left;
  list-style: none;
  transition: 0.5s;
}
.menu ul li{
  list-style: none;
  padding: 10px 0px;
}

.activemenu{
  left: 0%;
}
.faqouter{
  width: 70vw;
  margin: auto ;
} 
.faqItems{
border: 2px solid red;
margin-bottom: 20px;
transform: 0.5s;

}

.faqItems h3{
  margin: 0px;
  padding: 10px;
  background-color: black;
  color: wheat;
  text-align: left;

}
.faqItems p {
  text-align: left;
  height: 0px;
  transform: scaleY(0);
  margin: 0px;
  padding: 0px;
  transition: 0.5s;
}
.show{
  height: auto !important;
  transform: scaleY(1) !important;
  padding: 10px !important;

}