.App {
  text-align: center;
}

.headerbox {
  background-color: #282c34;
  height: fit-content;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}
.navbox{
  height: fit-content;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: end;
  margin-right: 100px;
  font-size: calc(10px + 2vmin);
  color: white;
}
ul{
  display: flex;
  align-items: last baseline;
  justify-content: space-between;

}

li{
  list-style: none;
  margin: 10px;
}

.footer{
 
  height: 15vh;
  background-color: aquamarine;
  text-align: center;
  /* position: fixed; */
left: 0;
bottom: 0;
width: 100%;
color: white;
}

.cardItems{
  height: 300px;
  width: 250px;
  border: 2px solid burlywood;
  box-shadow: red 2px;
}

.row{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
  justify-content:space-evenly;
  justify-items: center;
  align-items: center;
  
}